<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PatternDecorator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B0662B81F2C459400C6B389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0662CF1F2C459400C6B389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0662DA1F2C459400C6B389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
